.mainGrid {
    display: grid;
    grid-template-columns: [left-margin] 0.5fr [wrapperMain] 12fr [right-margin] 2fr;
    background: url('../images/cabecera.jpg') no-repeat;
}


.wrapperMain{
    grid-column: wrapperMain ;
    display: grid;
    grid-template-columns: [wrapper] auto;
    grid-template-rows: [headerNav] 80px [body] auto;
    grid-row-gap : 0.4rem;
    grid-column-gap : 1rem;
    background: transparent;

}

.headerNavbar{
    grid-row: headerNav;
    grid-column: wrapper;
    box-shadow: none;
}

.contentMain {
    display: grid;
    grid-row: body;
    grid-column: wrapper;
    background: transparent;
    grid-template-columns: [firstForm] minmax(300px, 30%)  [pdf] auto ;
    grid-template-rows: [headers] 0.1fr [main] 3fr [footer] 0.2fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}


.formContent {
    grid-column: firstForm ;
    grid-row: main;
    display : grid;
    grid-template-rows: [titleForm] 1fr [contentForm] 3fr [buttonsForm] 0.7fr;
    background-color: #f2f2f2;
    border-radius: 23px;
    padding: 0 20px 2px 20px ;
    align-items: center;
    justify-items: center;
}
.formContent > div{
    padding-top: 10px;

}
.pdfContent {
    grid-column: pdf ;
    grid-row: main ;
    display : grid;
    grid-template-rows: [titleForm] 1fr [contentForm] 3fr [buttonsForm] 1fr;
}
.headerFormContent {
    grid-row: titleForm;
    letter-spacing: 2px;
    color : #76b39d;
    align-self: center;
    text-align: center;
}

.formFieldsContent {
    grid-row: contentForm ;
}

.formButtons {
    grid-row: buttonsForm;
}
.formButtons > * {
    align-self: center;
    justify-self: center;
}




















/*********/
.btn-primary1 {
    margin: auto auto 10px auto;
}
.btn-primary1:hover{
    margin: auto auto 10px auto;
}
input[type="checkbox"]{
    padding : 10px 2px 10px
}














