body {
    background: url(../images/cabecera.jpg);
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}



html , #root , .App  {
    min-height: 100vh;
}

.mainGrid {
    display: grid;
    grid-template-columns: [left-margin] 50px [wrapperMainColumn] 1fr [right-margin] 50px;
    grid-template-rows: [margin-top] 0  [wrapperMainRow] 1fr [marginButton] 100px;
}

@media (max-width: 768px) {
    .mainGrid {
        display: grid;
        grid-template-columns: [left-margin] 15px [wrapperMainColumn] 1fr [right-margin] 15px;
        grid-template-rows: [margin-top] 0  [wrapperMainRow] 1fr [marginButton] 100px;
    }
}
.wrapperMain{
    grid-column: wrapperMainColumn ;
    grid-row: wrapperMainRow ;
    display: grid;
    grid-template-columns: [wrapper] 1fr;
    grid-template-rows: [headerNav] 80px [body] 1fr;
    grid-row-gap : 0.4rem;
    grid-column-gap : 1rem;
    background: transparent;

}

.headerNavbar{
    grid-row: headerNav;
    grid-column: wrapper;
    box-shadow: none;
}


.contentMain {
    margin-top: 20%;
    grid-row: body;
    grid-column: wrapper;
    display: grid;
    grid-template-columns: [firstForm]300px [pdf] minmax(600px, 4fr);
    grid-template-rows: [mainContent] minmax(300px , auto);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}


@media (max-width: 768px) {
    .contentMain {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .contentMain > * {
        margin-top: 20px;
    }
}
.formContent {
    grid-column: firstForm ;
    grid-row: mainContent;
    display : grid;
    grid-template-rows: [titleForm] 60px [contentForm] 1fr [buttonsForm] 60px;
    background-color: #f2f2f2;
    border-radius: 23px;
    align-items: start;
    justify-items: center;
}
.formContent > div{
    padding-top: 10px;

}
.pdfContent {
    grid-column: pdf ;
    grid-row: mainContent ;
    display : grid;
    grid-template-rows:  [contentPdf] auto [pdf-buttons] 80px;
}

.pdfContent > canvas {
    height: 750px;

}
.headerFormContent {
    grid-row: titleForm;
    letter-spacing: 2px;
    color : #76b39d;
    align-self: center;
    text-align: center;
}

.formFieldsContent {
    grid-row: contentForm ;

}


.formButtons {
    grid-row: buttonsForm;
    display: inline-flex;
}
.formButtons > * {
    align-self: center;
    justify-self: center;
    display: inline-flex;
}
.formButtons > * > * {
    margin: 0 5px;
}
.contentPdf {
    grid-row: contentPdf;
}
.pdfButtons {
    grid-row: pdf-buttons;
    align-self: center;
    justify-self: start;
}



.text-formContent {
    text-align: justify;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.7em;
    padding-top: 2em;
}

.text-formContent > .buttons {
    max-width: 70%;

}

.gridButtons {
    display: grid;
    grid-column-gap: 5px;
}
 .twoButtons {
    grid-template-columns: [first] 1fr [second] 4fr;
    grid-column-gap: 5px;
}
 .oneButton {
     grid-template-columns: [first] 1fr;
    grid-column-gap: 5px;
}

.firstButton {
    grid-column: first;
}

.secondButton {
    grid-column: second;
}
.secondButton > *  {
    width: 100%;
}


















/*********/
.btn-primary1 {
    margin: auto auto 10px auto;
}
.btn-primary1:hover{
    margin: auto auto 10px auto;
}
input[type="checkbox"]{
    padding : 10px 2px 10px
}





.modalEntities {
    background: transparent !important;
}

.formEntities{
    padding: 1% 20% 0 20%;
}
.formEntities > .mr-sm-2{
    color: #ffffff !important;
}
.formEntities > a{
    color: #76b39d !important;
}
.mr-sm-2{
    color: white;
}









