.button_primary_gdprights {
    color: rgb(255, 255, 255);
    background-color: rgb(118, 179, 157);
    height: 31px;
    min-width: 150px;
    font-weight: 300;
    width: 100%;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;
}

.button_primary_gdprights:hover {
    background-color: rgb(42, 107, 83);
}

.button_primary_gdprights_disabled {
    color: #211b1b;
    background-color: #ddd;
    height: 31px;
    min-width: 150px;
    border: 1px solid #999999;
    font-weight: 300;
    width: 100%;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-image: initial;
    border-radius: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;}

.button_primary_gdprights_small {
    min-width: 100px;
    font-weight: 300;
    max-width: 200px;
}


.filepond--drop-label {
    color: rgb(255, 255, 255);
    background-color: rgb(118, 179, 157);
    font-weight: 300;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;
}
.filepond--drop-label > label {
    padding: 0px !important;
    color: white !important;;
}


.filepond--root .filepond--drop-label{
    min-height:  31px;
  }


.margin_bottom{
   margin-bottom: 2em;
}
.marginBotton_Top{
    margin-bottom: 2em;
    margin-top: 2em;
}


/*****IMG OVERLAY******/

.container_dni {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    will-change: transform,opacity;
    margin: 10px auto;

}

.image_dni {
    opacity: 1;
    display: block;
    width: 168px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 16%;
    left: 16%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container_dni .image_dni {
    opacity: 1;
}

.container_dni .middle {
    opacity: 1;
}

.container_dni:hover .image_dni {
    /*opacity: 0.8;*/
}

.container_dni:hover .middle {
    opacity: 1;
}

.text_dni {
    font-size: 1em;
    width: 1.625em;
    height: 1.625em;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    will-change: transform,opacity;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    background-image: none;
    box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
    transition: box-shadow .25s ease-in
}

.text_dni > a {
    color: white;

}
.text_dni:hover {
    box-shadow: 0 0 0 0.125em hsla(0,0%,100%,.9);
}



.customButton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding: 0 1.5rem;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 23px;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}
.customButton:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
}

.customButton.buttonReject {
    color: #fff;
    background-color: #f44336;
}
.buttonReject:hover {
    color: #fff;
    background-color: #f41400;
}

.buttonAccept {
    color: white !important;
    border: 1px solid #28a745 !important;
    background-color: #76b39d;
}
.buttonAccept:hover {
    color: #308969;
    border: 1px solid #28a745;
    background-color: #1DB375;
}

.buttonAcceptDisabled{
    cursor: default !important;
    color: #9e9e9e !important;
    box-shadow: none !important;
}
.buttonDownload{
    background: #016674;
    border: 1px solid #d2dcdb !important;
}.buttonDownload:hover{
    background: #2a7472;
}

 .buttonNavigateNext, .buttonNavigateBefore {
     color: rgb(8, 113, 125) !important;
     width: 46px !important;
     height: 46px !important;
     padding: 0;
     font-size: 0.875rem !important;
     min-width: 0;
     box-sizing: border-box;
     min-height: 36px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
     font-weight: 500;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     border-radius: 50%;
     text-transform: uppercase;
     background-color: #76b39d00 !important;
 }
.buttonNavigateNext:disabled,
.buttonNavigateBefore:disabled{
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none;
    background-color: #adb5bd8f !important;
 }


.iconSend {
    float: right !important;
    margin-top: 5px;
    padding-left: 4px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}