.button_primary_gdprights {
    color: rgb(255, 255, 255);
    background-color: rgb(118, 179, 157);
    height: 31px;
    min-width: 200px;
    font-weight: 300;
    width: 100%;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;
}

.button_primary_gdprights:hover {
    background-color: rgb(42, 107, 83);
}

.button_primary_gdprights_disabled {
    color: #211b1b;
    background-color: #ddd;
    height: 31px;
    min-width: 200px;
    border: 1px solid #999999;
    font-weight: 300;
    width: 100%;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-image: initial;
    border-radius: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;}

.button_primary_gdprights_small {
    min-width: 100px;
    font-weight: 300;
    max-width: 200px;
}


.filepond--drop-label {
    color: rgb(255, 255, 255);
    background-color: rgb(118, 179, 157);
    font-weight: 300;
    box-shadow: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.25;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out 0s;
    padding: 0px 16px;
    outline: none !important;
}
.filepond--drop-label > label {
    padding: 0px !important;
    color: white !important;;
}


.filepond--root .filepond--drop-label{
    min-height:  31px;
  }


.margin_bottom{
   margin-bottom: 2em;
}
.marginBotton_Top{
    margin-bottom: 2em;
    margin-top: 2em;
}


/*****IMG OVERLAY******/

.container_dni {
    position: relative;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    will-change: transform,opacity;
    margin: 10px auto;

}

.image_dni {
    opacity: 1;
    display: block;
    width: 168px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 16%;
    left: 16%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container_dni .image_dni {
    opacity: 1;
}

.container_dni .middle {
    opacity: 1;
}

.container_dni:hover .image_dni {
    /*opacity: 0.8;*/
}

.container_dni:hover .middle {
    opacity: 1;
}

.text_dni {
    font-size: 1em;
    width: 1.625em;
    height: 1.625em;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    will-change: transform,opacity;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    background-image: none;
    box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
    transition: box-shadow .25s ease-in
}

.text_dni > a {
    color: white;

}
.text_dni:hover {
    box-shadow: 0 0 0 0.125em hsla(0,0%,100%,.9);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}